.custom-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.193);
  background-color: #ffffff;
}
.card-header {
 
  .title {
    background-color: white;
    padding: 3px 2em 3px 1em;
    border-radius: 0.5em;
    margin: 0;
    color: #333;
    h3{
      margin: 0;
    }
  }
}

.card-icons {
  display: flex;
  gap: 8px;
   background-color:#027BCC;
  padding: 4px 8px;
  color: white;
  font-family: Arial, sans-serif;
  justify-content: end;
  align-items: center;
}

.card-icons .icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

.card-icons .minimize {
  background-color: #fdbc40; /* Amarelo - minimiza */
}

.card-icons .close {
  background-color: #fc5c65; /* Vermelho - fechar */
}

.card-body {
  display: flex;
  padding: 16px;
  background-image: url(../assets/fundo-oficinas-single.png);
}

.card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  width: 100%;
  span{
    font-size: 24px;
    font-weight: 600;
  }
}

.card-info p {
  margin: 0;
  font-size: 0.95rem;
  color: #333333;
}

.status-icon {
  margin-right: 6px;
  font-size: 1rem;
}

.completed-icon {
  color: #F79336; /* Azul escuro */
}

.pending-icon {
  color: #919191; /* Rosa (Hot Pink) */
}

.status.completed p {
  color: #F79336; /* Texto azul quando concluído */
}

.status.inProgress p {
  color: #919191; /* Texto rosa quando pendente */
}
.status{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .bottonDownload{
    display: flex;
    align-items: end;
    justify-content: end;
  }
  p{
    display: flex;
    align-items: center;
  }
}
.download-button {
  background-color: #F79336; /* Laranja */
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.85rem;
  display: inline-block;
  margin-top: 8px;
}

.download-button:hover {
  background-color: #e07b1e; /* Laranja mais escuro no hover */
}

.right{
  display: flex;
  width: 50%;
  gap: 8px;
}
